@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    max-width: 100%;
}

a {
    color: #6153bd;
    transition: all 0.3s ease;

    &:hover {
        color: #493d98;
    }
}
